language: c
sudo: required
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
env:
  - OCAML_VERSION=latest PACKAGE=mirage-seal
    EXTRA_REMOTES=https://github.com/mirage/mirage-dev.git
    POST_INSTALL_HOOK="./test.sh"
